<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="text-align: center;">
    <form (ngSubmit)="login()" style="display: inline-block;">
      <div class="form-group">
        <label for="user">Username</label>
        <input type="text" class="form-control" id="user" [(ngModel)]="this.family.user" name="user">
      </div>
      <div class="form-group">
        <label for="mother">Mother</label>
        <input type="text" class="form-control" id="mother" [(ngModel)]="this.family.mother" name="mother">
      </div>
      <div class="form-group">
        <label for="father">Father</label>
        <input type="text" class="form-control" id="father" [(ngModel)]="this.family.father" name="father">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
