<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<!--Connection string is the same-->
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=ALENPC\SQLEXPRESS;Initial Catalog=GSM;Integrated Security=true"/>
	</connectionStrings>

	<!--SCENARIO 1-->
	<!--<appSettings>
		
		<add key="id" value="erid"/>
		<add key="idChild" value="eid"/>
		<add key="select" value="SELECT * from EmployeeRoles"/>
		<add key="ParentTableName" value="EmployeeRoles"/>
		<add key="ChildTableName" value="Employees"/>
		<add key="NumberOfColumns" value="4"/>
		<add key="ColumnNames" value="eid,employee_name,employee_servstart,employeerole_id"/>
		<add key="ColumnNamesInsertParameters" value="@eid,@employee_name,@employee_servstart,@employeerole_id"/>
		<add key="UpdateQuery" value="UPDATE Employees Set employee_name=@employee_name, employee_servstart=@employee_servstart, employeerole_id=@employeerole_id  WHERE eid=@eid"/>
		<add key="selectChild" value="SELECT * from Employees WHERE employeerole_id="/>
		<add key="InsertQuery" value="INSERT INTO Employees (eid, employee_name, employee_servstart, employeerole_id) VALUES (@eid,@employee_name,@employee_servstart,@employeerole_id)"/>
		<add key="DeleteQuery" value="DELETE FROM Employees WHERE eid=@eid"/>
		<add key="ForeignKey" value="employeerole_id"/>
	</appSettings>-->
	

	<appSettings>
		<add key="id" value="mtid"/>
		<add key="idChild" value="mid"/>
		<add key="select" value="SELECT * from MembershipTypes"/>
		<add key="ParentTableName" value="MembershipTypes"/>
		<add key="ChildTableName" value="Memberships"/>
		<add key="NumberOfColumns" value="6"/>
		<add key="ColumnNames" value="mid,membership_name,membership_company,membership_price,membership_popularity,membershiptype_id"/>
		<add key="ColumnNamesInsertParameters" value="@mid,@membership_name,@membership_company,@membership_price,@membership_popularity,@membershiptype_id"/>
		<add key="UpdateQuery" value="UPDATE Memberships Set membership_name=@membership_name, membership_company=@membership_company, membership_price=@membership_price, membership_popularity=@membership_popularity, membershiptype_id=@membershiptype_id WHERE mid=@mid"/>
		<add key="selectChild" value="SELECT * from Memberships WHERE membershiptype_id="/>
		<add key="InsertQuery" value="INSERT INTO Memberships (mid, membership_name, membership_company, membership_price, membership_popularity, membershiptype_id) VALUES (@mid,@membership_name,@membership_company,@membership_price,@membership_popularity,@membershiptype_id)"/>
		<add key="DeleteQuery" value="DELETE FROM Memberships WHERE mid=@mid"/>
		<add key="ForeignKey" value="membershiptype_id"/>
	</appSettings>
	
</configuration>