#main{
    width: 50%;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 25%;
}

.options-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 119, 255, 0.8);
    border-radius: 40px;
    backdrop-filter: blur(10px);
}

.file-conv{
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 25px;
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-color: rgb(32, 32, 32);

}


.upload-div{
    display: flex;
    width: 50%;
    border-right: 4px solid rgba(255, 255, 255, 0.8);
   
}

.download-div{
    width: 50%;
}

.wrapper{
  
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    
    img{
        position: relative;
        height: 100px;
        width: auto;
        margin-bottom: 20px;
    }

    

    .file-upload{
  
      height:80px;
      width:80px;
      border-radius: 100px;
      position:relative;
      
      display:flex;
      justify-content:center;
      align-items: center;  
  
     
      overflow:hidden;
      background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
      background-size: 100% 200%;
      transition: all 1s;
      color: #FFFFFF;
      font-size:40px;
  
      input[type='file']{
  
        height:200px;
        width:200px;
        position:absolute;
        top:0;
        left:0;
        opacity:0;
        cursor:pointer;
  
      }

      
  
      &:hover{
  
        background-position: 0 -100%;
  
        color:#2590EB;
  
      }
  
      

    }

    .file-download{
  
        height:80px;
        width:80px;
        border-radius: 100px;
        position:relative;
        
        display:flex;
        justify-content:center;
        align-items: center;  
    
       
        overflow:hidden;
        background-image: linear-gradient(to bottom, #eb2525 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        font-size:40px;
    
        input[type='file']{
    
          height:200px;
          width:200px;
          position:absolute;
          top:0;
          left:0;
          opacity:0;
          cursor:pointer;
    
        }
    
        &:hover{
    
          background-position: 0 -100%;
    
          color:#c41f1f;
        }
      }
  }
  
.button{
    top: 40%;
    position: absolute;
    color: white;
    font-weight: 600;
    padding: 20px;
    font-size: 18px;
    border-radius: 50px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    background-color: rgb(32, 32, 32);
}

button:hover{
    background-color: #2590EB;
}


.preview{
    margin-top: 30px;
    gap: 5px;
    position: relative;
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: row;

    .input{
        overflow: hidden;
        border-radius: 25px;
        padding: 20px;
        width: 50%;
        background-color: rgb(243, 243, 243);
        border: 1px solid rgb(211, 211, 211);
    }

    .output{
        overflow: hidden;
        border-radius: 25px;
        padding: 20px;
        width: 50%;
        background-color: rgb(243, 243, 243);
        border: 1px solid rgb(211, 211, 211);
    }
}


.option{
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    select{
        height: auto;
        border: 0px;
        padding: 10px;
        border-radius: 15px;
    }
}

#input-content{
    white-space: pre-wrap;
    font-family: 'Consolas', monospace;
}

#output-content{
    white-space: pre-wrap;
    font-family: 'Consolas', monospace;
}