<section id="main">
  <div class="options-bar">
    <div class="option">
      <label>Ansi x12</label>
      <select name="cars" id="cars">
        <option value="volvo">810</option>
        <option value="saab">Invoice 820</option>
        <option value="mercedes">Payment Order/Remittance Advice 830</option>
        <option value="audi">Sequential Purchase Order 850</option>
        <option value="audi">Purchase Order 856</option>
        <option value="audi">Advanced Ship Notice (ASN)</option>
      </select>
    </div>
    <div class="option">
      <label>Edifact</label>
      <select name="cars" id="cars">
        <option value="volvo">ORDERS</option>
        <option value="saab">INVOIC</option>
        <option value="mercedes">DESADV</option>
      </select>
    </div>
    <div class="option">
      <label>Vda</label>
      <select name="cars" id="cars">
        <option value="volvo">4905</option>
        <option value="saab">Delivery Instruction 4915</option>
        <option value="mercedes">Shipping Instruction 4913</option>
        <option value="audi">Call-Off 4984</option>
        <option value="audi">Production Instruction</option>
      </select>
    </div>
  </div>
  <div class="file-conv">
    <button type="convert-button" class="button">
      <span class="button-text">Generate</span>
    </button>
    <div class="upload-div">
      <div class="wrapper">
        <img src="./assets/media/txt-icon.png">
        <div class="file-upload">
          <input type="file" id="file-input" (change)="onFileSelected($event)" />
          <i class="fa fa-arrow-up"></i>
        </div>
      </div>
    </div>
    <div class="download-div">
      <div class="wrapper">
        <img src="./assets/media/txt-icon-dw.png">
        <div class="file-download">
          <input type="file" />
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="preview">
    <div class="input">
      <h1>Input Preview</h1>
      <p id="input-content">{{ fileContent }}</p>
    </div>
    <div class="output">
      <h1>Output Preview</h1>
      <p id="output-content">{{ fileContent2 }}</p>
    </div>
  </div>
</section>