<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="text-align: center;">
    <form (ngSubmit)="login()" style="display: inline-block;">
      <div class="form-group">
        <h5 class="card-title">{{ this.question }}</h5>
        <input type="text" class="form-control" id="user" [(ngModel)]="this.answer" name="user">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
